<h1>Ejercicio 19</h1>
<p>Crea una directiva <code>selecciona-wolverine</code>
<p>La directiva seleccionará Wolverine como valor por defecto de otra directiva
   <code>selecccion-superheroes</code>


<h2>Resultado</h2>
<form name="myForm">
  <seleccion-superheroes ng-model="vm.superheroe" selecciona-wolverine></seleccion-superheroes>
  <p>Superhéroe seleccionado: {{vm.superheroe}}</p>
</form>
<hr>

<h3>Código ejecutado</h3>
<pre>
  &lt;form name="myForm"&gt;
    &lt;seleccion-superheroes ng-model="vm.superheroe" selecciona-wolverine&gt;&lt;/seleccion-superheroes&gt;
    &lt;p&gt;Superhéroe seleccionado: {{vm.superheroe}}&lt;/p&gt;
  &lt;/form&gt;
</pre>
<hr>

<a href="#/18">Anterior</a>
|
<a href="#/20">Siguiente</a>
